/* ANIMATIONS */
@keyframes grow {
  /* Passos */
  from {
      height: 0px;
      width: 0px;
      margin-top: 100px;
      margin-left: 100px;
  }
  to {
      height: 200px;
      width: 200px;
      margin-top: 0px;
      margin-left: 0px;
  }
}

*{
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
         -box-sizing: border-box;
}

body {
  max-width: 100vw;
  background-color: #f9f9f9;
}

/*
 * ===================================== *
 * stylesheet to login pages
 * ===================================== *
 */
 .background{
   position: absolute;
   left: 0;
   width: 100%;
   height: 100%;
   background-image:url(../assets/images/background.jpg);
   background-size: cover;
 }

 section#conteudo-view{
   position: absolute;
   right: 0;
   float:right;
   padding: 20px;
   width: 500px;
   height:100%;
   background: #00000099;
   border-left: 2px solid #E0B207;
 }

section#conteudo-view h1 {
    float: left;
    width: 100%;
    font: 4em 'Roboto', cursive;
    margin-top: 150px;
    color: #F1F1F1;
}

section#conteudo-view h3,
section#conteudo-view form p  {
    float: left;
    width: 100%;
    font: 1em 'Roboto', cursive;
    color: #F1F1F1;
}

section#conteudo-view form,
section#conteudo-view form label{
  float: left;
  width: 100%;
}

section#conteudo-view form {
  margin-top: 40px;
}

section#conteudo-view form p{
  font-size: 1.25em;
}

section#conteudo-view form label input{
  margin-top: 20px;
  float: left;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-bottom: 2px solid #E0B207;
  background: none;
  color: white;
  font-size: 20px;
}


section#conteudo-view form input[type="submit"] {
  background:    #dfb008;
  border-radius: 1px;
  padding:       10px 17px;
  color:         #F1F1F1;
  display:       inline-block;
  font:          normal 1.3em "Roboto", sans-serif;
  text-align:    center;
  margin-left: 38%;
  margin-top: 20px;
  cursor: pointer;
}

/*
 * ===================================== *
 * stylesheet to menu lateral
 * ===================================== *
 */

 #principal{
   position: fixed;
   float: left;
   width: 220px;
   height: 100%;
   border-right: 1px solid #333;
   box-shadow: 0 0 30px rgba(0,0,0,.7);
   background: #262626;
   z-index: 5;

 }

 #principal .copy-rigth {
   color: #555;
   position: absolute;
   bottom: 20px;
   font-size: 15px;
   margin-left: 10px;
 }

 #principal ul,
 #principal ul li{
   width: 100%;
 }

  #principal ul li a {
    display: flex;
    height: 40px;
    border-bottom: 1px solid #444;
    text-decoration: none;
    font-family: Roboto;
    color: #e9e9e9;
    font-weight: 300;
    font-size: 18px;
    padding-top: 10px;
    transition: all .6s;

  }
  #principal ul li a:hover {
    color: #E0B207;
    border-bottom: 1px solid #E0B207;
    font-size: 20px;
    height: 50px;
  }

  #principal ul li a i {
    margin-left: 30px;
    margin-right: 10px;
    height: 43px;
    width: 43px;
    transition: all .6s;
    transform: scale(.8);
    margin-top: -10px;
  }
  #principal ul li a i img {
    height: inherit;
    width: inherit;
    transition: all 0.7s;
    transform: scale(.8);

  }
  #principal ul li a i img:hover {
    transform: scale(1);
  }





 #principal .logo-area {
   height:200px;
   margin-bottom: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 #principal .logo-area i img {
   height: 100px;
   width: 100px;
 }

 #principal .logo-area p {
   font-family: Spectral;
   font-size: 33px;
   color: #e9e9e9;
   margin-top: -10px;
   transition: all .7s;
 }

 /*
  * ===================================== *
  * stylesheet section conteudo
  * ===================================== *
  */

  #conteudo-view-formulario {
    position: fixed;
    float:left;
    width:100%;
    height:100%;
    padding: 20px 20px 20px 300px;
    z-index: 1;
  }


   /*
  * ===================================== *
  * stylesheet from
  * ===================================== *
  */
  .form-padrao {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 99;
  }
  .form-padrao label{
    width: 50%;
    margin-bottom: 15px;
  }
  .form-padrao span{
    font-size: 20px;
    color: #E0B207 !important;
  }
  .form-padrao input{
    margin-top: 15px;
    display: flex;
    border-bottom: 1px solid #111;
    width: 80%;
    background-color: transparent;
    font-size: 18px;
    color: #555 !important;
    padding-left: 12px;
    transition: 0.1s;
  
  }

  .form-padrao input:hover {
    border-bottom: 2px solid #111;
  }

  .btn_send{

  }

  .btn_send input {
    border: none  !important;        
    background-color: #E0B207;
    height: 50px;
    text-transform: uppercase;
    color : white !important;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

  }

  .title_main{
    font-family: Roboto;
    color: #555;
    
  }

  .marca_dagua img{
    position: absolute;
    z-index: 1;
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;
    opacity: 0.3;
    animation-name: grow;
    animation-duration: 1s;
  }
